/* card component css */
/* .card{
  border: 1px solid hsl(0, 14%, 81%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 6%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}
.card.card-image{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;

}
.card.card-title{
  font-family: Arial,sans-serif;
  margin: 0;
  color: hsl(0, 0, 30%);

} */



/* ------------------------------------------------------------------- */
/* props */
/* .student{
  font-family: Arial, sans-serif;
  font-size: 2em ;
  padding: 10px;
  border: 1px solid hsla(0, 11%, 53%, 0.8);
}
.student p{
  margin: 0;
} */



/* --------------------------------------------------------------------------------- */
/* conditional rendering */
/* .welcome-message{
  background-color: rgb(123, 53, 53);
  font-size: 2em;
  font-faimily: 'Courier New';
  padding: 10px;
  margin: 0%;
  text-align: center;
  border-radius: 5px;
  color: white;
}
.login-prompt{
  background-color: rgb(123, 53, 53);
  font-size: 2em;
  font-faimily: 'Courier New';
  padding: 10px;
  margin: 0%;
  text-align: center;
  border-radius: 5px;
  color: white;
} */



/* /'--------------------------------------------------------------------' */
/* render-lists */
/* .list-category{
  font-size: 1.5em;
  font-weight: bold;
  background-color: rgb(159, 118, 118);
  padding: 0.5px;
  margin: 0%;
  color: rgb(0, 0, 0);
  border-radius: 4px;
  font-family:'Times New Roman', Times, serif;
  border: 3px solid;
  text-align: center;
  margin-bottom: 10px;
}
.list-items li{
  font-size: 1em;
  list-style: none;
  text-align: center;
  padding: 10px;
  margin: 0%;
  color: rgb(2, 2, 2);
  border-radius: 0%;
  font-family:'Times New Roman', Times, serif; 
}
.list-items li:hover{
  color: rgb(180, 153, 153);
  cursor: pointer;
} */



/* ---------------------------------------------------------------------------------- */
/* useState() hook*/
/* .counter-container{
  font-family:'Times New Roman', Times, serif;
  text-align: center;
}
.count-display{
  font-size: 10em;
  margin-top: 0;
  margin-bottom: 50px;
}
.counter-button{
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  background-color: rgb(115, 94, 94);
  margin: 0px 5px;
  color: rgb(213, 208, 208);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.counter-button:hover{
  background-color: rgb(199, 186, 186);
} */




/* ------------------------------------------------------------------------------------ */
/*onChange event handler: */
/* *{
  background-color: rgb(113, 111, 111);

}
p{
  background-color: rgb(71, 68, 68);
  color: aliceblue;
} 
input{
  background-color: rgb(254, 254, 251);
}
textarea{
  background-color: aliceblue;
} */


/* ------------------------------------------------------------------------------------------- */
